body{
    margin:0;
    padding:0;
    font-family: "DM Sans", sans-serif;
}
.container {
    width: 100%;
    margin: 0 auto;
    max-width: 1176px;
}
.container1 {
    width: 100%;
    margin: 0 auto;
    max-width: 1315px;
}
li{
    list-style-type:none;
}
a{
    text-decoration:none;
}
header {
    padding-top: 16px;
    padding-bottom: 1px;
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul {
    display: flex;
    gap: 34px;
}
a.nav-menu {
    color: var(--text-dark);
    font-weight: 600;
    text-transform: uppercase;
    transition: 0.3s;
}

a.nav-menu:hover {
    color: var(--primary-color);
}
h1 {
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--text-dark);
}
a.btn {
    font-size: 16px;
    color: var(--white-color);
    background-color: var(--primary-color);
    padding: 0.75rem 1.5rem;
    border-radius: 50px;
    transition:0.3s;
}
a.btn:hover,span.star{
    background-color:var(--primary-dark);
}
.bus {
    position: absolute;
    bottom: -131px;
    left: 582px;
    top: 129px;
    width:617px;
}
.travel {
    background-image: url(..//image/img1.jpg);
    position: relative;
    background-position: center;
    background-size: cover;
    height: 500px;
    margin-top: 20px;
    border-radius: 3rem;
    padding-bottom: -1rem;
    padding-left: 3rem;
    padding-top:8rem;
}
p.journey {
    text-transform: uppercase;
    color: var(--text-dark);
    padding: 0 !important;
    margin-left: 35px !important;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 16px;
}
h1.travel-head, h2 {
    font-size: 4.5rem;
    font-weight: 600;
    width: 40%;
    line-height: 5.5rem;
    padding-left: 32px;
    margin-top: 0;
}
h2 {
    font-size: 16px;
}
a.btn {
    margin-left: 27px;
}
a.play {
    color: var(--primary-color);
    background-color: var(--white-color);
    padding: 9px 13px;
    border-radius: 50%;
    margin-left: 15px;
    transition: 0.3s;
}
a.play:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
}
h1.about-head, h1.about-headd {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--text-dark);
    margin-bottom: 0;
}
h1.about-headd {
    width: 91%;
    padding-left: 3rem;
}
p {
    color: var(--text-light);
    margin-top: 0;
    padding-bottom: 16px;
    width: 97%;
    padding-top:4px;
}
.temp {
    padding-left: 20px;
}
section.about-section {
    margin-top: 5rem;
}
.temple {
    width: 378px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    border-radius: 1.5rem;
}
.stars {
    min-width: 20%;
    margin-top: 36px;
}
.city {
    display: flex;
}
.about-content {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    gap: 35px;
    margin-top:3rem;
}
h4.about-cont {
    padding-left: 0;
    color: var(--text-dark);
    padding-top: 0;
}
h3 {
    font-weight: 600;
    width: 80%;
    color: var(--text-dark);
    padding-bottom: 0;
    margin-bottom: 8px;
}
span.star {
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 5px 10px;
    border-radius: 16px;
    font-size: 0.9rem;
    transition: 0.3s;
}
.tour-travel {
    text-align: center;
    margin-bottom: -29px;
}
.tour-content {
    padding-top: 2rem;
    padding-bottom: 20px;
    position: relative;
    overflow: hidden;
    transition:0.3s ease-in;
    padding-bottom:10px;
}
section.package-section {
    margin-top: 8rem;
}
.advent {
    display: grid;
    grid-template-columns: 32% 32% 32%;
    gap: 19px;
    margin-top:3rem;
}

section.Tour-section {
    margin-top: 9rem;
}
img.bus-ride {
    width: 350px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}
.world {
    display: grid;
    grid-template-columns: auto auto;
    gap: 35px;
}
.book-btm {
    background-image: url(..//image/img10.jpeg);
    background-size: cover;
    height: 60px;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-top: 31px;
}
a.bus-now {
    color: var(--text-dark);
    font-weight: 600;
}
h1.about-headin {
    font-size: 3rem;
    font-weight:600;
}
h4.years {
    color: var(--primary-color);
    font-size: 5rem;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 0;
    margin-right:20px;
    padding-top:0;
}
.cards {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 6rem;
    gap: 30px;
    text-align: center;
}
section.travel-section {
    margin-top: 9rem;
    text-align: center;
}
.rating {
    background-color: var(--extra-light);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
    padding-top:34px;
}
.coast {
    background-color: rgba(40, 135, 255, 0.1);
    padding: 10px 10px;
    border-radius: 50%;
    color: var(--primary-color);
    margin-top: 16px;
}
.coastal {
    display: grid;
    grid-template-columns:32% 32% 32%;
    gap: 37px;
    margin-top:3rem;
}
h4.historic {
    font-size: 19px;
    width: 40%;
    text-align: center;
    font-weight: 700;
    color: var(--text-dark);
    padding-right: 20px;
    padding-top:0;
    margin-bottom:11px;
}
.landmark {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.landmark:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
    border-radius:16px;
}
p.travell, p.travellss {
    color: var(--text-dark);
    width: 91%;
    padding-bottom: 26px;
}
p.travellss {
    width: 87%;
    padding-bottom:5px;
}
h4 {
    font-size: 20px;
    font-weight: 600;
    padding-left: 20px;
    padding-top: 3rem;
}
h4.click {
    color: var(--white-color);
    padding-top: 0;
}
.contact {
    background-color: var(--extra-light);
    margin-top:4rem;
    padding-bottom:2rem;
}
ul.contact-menu {
    display: block;
    padding-left: 0;
    line-height: 2.67;
}
.contact-foot {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    justify-content: center;
    padding-top: 4rem;
    margin-top: 5rem;
}
p.paraa {
    margin-bottom: 0;
    padding-bottom: 21px;
}
a.menu-icon {
    background-color: var(--primary-color);
    color: var(--white-color);
}
.con-menu {
    display: flex;
    gap: 14px;
    margin-top:15px;
}
a.menu-icon {
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 50px;
    padding: 12px 12px;
}

a.menu-icon:hover,a.menu-icns:hover{
    background-color: var(--primary-dark);
}
a.menu-link,a.menu-icn{
    color: var(--text-light);
}
a.menu-icn:hover,a.menu-link:hover{
    color: var(--primary-color);
}
input#email {
    width: 235px;
    padding: 0.35rem;
    border-radius: 5px;
    border: 1px solid var(--text-light);
    color: var(--text-dark);
    margin-bottom: 25px;
    padding-block: 13px;
    width: 293px;
    padding-left:10px;
    font-size:16px;
}
input#email::placeholder {
    font-size: 16px;
}
.foott {
    padding-left: 8rem;
}
.foots {
    padding-left: 3rem;
}
a.menu-icns {
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 5px;
    padding-inline: 6.9rem;
    padding-block: 11px;
}
section.card-section {
    margin-top: 9rem;
}
.book {
    background-color: var(--primary-color);
    width: 100%;
    padding-top: 20px;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    opacity:0;
    position:absolute;
    width:100%;
    padding:10px;
    transition:0.3s ease-in;
}
p.travells {
    width: 83%;
    color: var(--text-dark);
    padding-left: 20px;
}
h4.click {
    color: var(--white-color);
    padding-bottom: 0;
    margin-bottom: 14px;
}
h4.about-cont {
    padding-left: 0;
    color: var(--text-dark);
}
span.right {
    font-size: 0.9rem;
    padding-top: 6rem;
    text-align: center;
    color: var(--text-light);
    width: 93%;
    padding-left: 20px;
}
.right {
    cursor: pointer;
}
p.foot-para {
    padding-top: 1.5rem;
    margin-bottom: 0;
}
.icnn {
    padding-left: 2rem;
}
.copy-right {
    text-align: center;
    padding-top:6rem;
}
span.number {
    padding-left: 12px;
}
.icnn {
    padding-left: 2rem;
    color: var(--primary-color);
    font-size: 25px;
    padding-top: 24px;
}
.icnns {
    padding-left: 24px;
    color: var(--white-color);
    padding-top:32px;
}
.tour-content:hover .book {
    display: block;
    transform: translateY(-240px);
    transition: 0.3s;
    opacity: 1;
}
.advents {
    background-color: var(--extra-light);
    padding-bottom: 3px;
    padding-top: 16px;
    border-radius:0px 10px 0px 10px;
}
h1.foot-head {
    font-size: 1.75rem;
}
span.book-icn {
    border: 1px solid var(--white-color);
    border-radius: 50%;
    padding: 10px;
}
.tour-content:hover {
    border-radius: 0px 0px 20px 20px;
}
:root{
    --text-dark:#0a0a0a;
    --primary-dark:#2476da;
    --primary-color:#2887ff;
    --white-color:#ffffff;
    --text-light:#737373;
    --extra-light:#f3f4f6;
}


    